asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-cors-headers
django-filter
django-phonenumber-field
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
idna
importlib-metadata
inflection
Markdown
oauthlib
packaging
phonenumbers
Pillow
pycparser
PyJWT
python-dotenv
python3-openid
pytz
PyYAML
requests
requests-oauthlib
rest-framework-simplejwt
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
uritemplate
urllib3
whitenoise
zipp
